.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-size: calc(15px + 2vmin);
  margin-top: 3%;
  align-items: center;
  text-align: center;
}

.App-search-bar {
  margin-top: 2%;
  font-size: calc(8px + 2vmin);
  color: cadetblue;
  text-align: center;
}

.resultRow {
  padding: 1% 5%;
  font-size: calc(10px + 1vmin);
}

.result {
  padding: 1% 0;
  margin: 5% 31%;
  width: 40%;
  height: 40%;

  background-color: rgb(255, 242, 199);

}

.resultText {
  margin: 15%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
